<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>the garden cafe</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		  <script type="text/javascript" src="script.js" defer></script>

		</script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
