.background {
  background-image: url('https://images.unsplash.com/photo-1502810365585-56ffa361fdde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGVhdmVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
  background-size: auto;
  height: 800px;
}
